# docker-compose.yml
services:
  "{{ item.repo_name }}":
    build: .
    container_name: "{{ item.repo_name }}"
    volumes:
      - ./app:/app
    ports:
      - "{{ item.port }}:8000"
    restart: unless-stopped

