#!/usr/bin/env bash
set -euo pipefail

{% for device in gpu_bdf %}
if [ -e "/sys/bus/pci/devices/{{ device }}/driver/unbind" ]; then
  echo "{{ device }}" > "/sys/bus/pci/devices/{{ device }}/driver/unbind" || true
fi
{% endfor %}

for id in {{ gpu_pci_ids | to_json }}; do
  echo "$id" > /sys/bus/pci/drivers/vfio-pci/new_id || true
done

echo "Done."
