network:
  version: 2
  renderer: networkd
  {{ 'ethernets' if net_type == 'ethernet' else 'wifis' }}:
    {{ net_interface }}:
      dhcp4: {{ 'false' if has_static_ip | bool else 'true' }}
{% if has_static_ip | bool %}
      addresses:
        - {{ static_ip }}/{{ netmask }}
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses:
{% for dns in dns_servers %}
          - {{ dns }}
{% endfor %}
{% endif %}
{% if net_type == 'wifi' and wifi_credentials is defined %}
      access-points:
        "{{ wifi_credentials.ssid }}":
          password: "{{ wifi_credentials.password }}"
{% endif %}
