network:
  version: 2
  renderer: networkd
  {{ 'ethernets' if system_base_net_type == 'ethernet' else 'wifis' }}:
    {{ system_base_net_interface }}:
      dhcp4: {{ 'false' if system_base_static_enabled | bool else 'true' }}
{% if system_base_static_enabled | bool %}
      addresses:
        - {{ system_base_static_address }}
      routes:
        - to: default
          via: {{ system_base_static_gateway }}
      nameservers:
        addresses:
{% for dns in system_base_dns_servers %}
          - {{ dns }}
{% endfor %}
{% endif %}
{% if system_base_net_type == 'wifi' %}
      access-points:
        "{{ system_base_wifi_config.ssid }}":
{% if system_base_wifi_config.password is defined %}
          password: "{{ system_base_wifi_config.password }}"
{% endif %}
{% endif %}
