---
- name: Ensure managed users exist
  ansible.builtin.user:
    name: "{{ item.name }}"
    state: "{{ item.state | default(user_defaults.state) }}"
    shell: "{{ item.shell | default(user_defaults.shell) }}"
    create_home: "{{ item.create_home | default(user_defaults.create_home) }}"
    system: "{{ item.system | default(user_defaults.system) }}"
    lock_password: "{{ item.lock_password | default(user_defaults.lock_password) }}"
    groups: >-
      {{
        (
          (user_defaults.groups | default([]))
          + (item.groups | default([]))
        ) | unique
      }}
    append: true
  loop: "{{ managed_users }}"
  loop_control:
    label: "{{ item.name }}"
