#! /bin/bash
docker container stop {{ item.repo_name }} && docker container rm {{ item.repo_name }};
docker compose up --build --detach && docker network connect application_network {{ item.repo_name }}

