---
- ansible.builtin.import_tasks: validate.yml
- ansible.builtin.import_tasks: user_account.yml
- ansible.builtin.import_tasks: sshkey_management.yml

- ansible.builtin.import_tasks: generate_sshkeys.yml
  when: user_accounts_generate_keys | length > 0
