services:
  {{ app.name }}:
    build: .
    container_name: {{ app.name }}
    ports:
      - "8000:8000"
    restart: unless-stopped
    env_file:
      - ./app/.env
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
