[user]
  email = +kfcodes@users.noreply.github.com
  name = kfcodes

[core]
  editor = vim

[merge]
  tool = vimdiff
  conflictstyle = diff3

[url "git@github.com:"]
  insteadOf = https://github.com/
