#!/bin/bash
{% for device in gpu_bdf %}
echo "Rebinding {{ device }} to host driver..."
echo {{ device }} > /sys/bus/pci/devices/{{ device }}/driver/unbind
{% endfor %}

{% for id in gpu_pci_ids %}
{% if '67ef' in id %}
echo {{ id }} > /sys/bus/pci/drivers/amdgpu/new_id
{% elif 'aaf0' in id %}
echo {{ id }} > /sys/bus/pci/drivers/snd_hda_intel/new_id
{% endif %}
{% endfor %}
