# docker-compose.yml
services:
  {{ app.name }}:
    build:
      context: .
    container_name: {{ app.name }}
    ports:
      - "{{ app.port }}"
    restart: unless-stopped
    {% if app.environment is defined %}
    environment:
      {% for env in app.environment %}
      - {{ env }}
      {% endfor %}
    {% endif %}
    {% if app.volumes is defined %}
    volumes:
      {% for vol in app.volumes %}
      - {{ vol }}
      {% endfor %}
    {% endif %}
    {% if app.network is defined %}
    networks:
      - {{ app.network }}

{% if app.network is defined %}
networks:
  {{ app.network }}:
    external: true
{% endif %}

