---
service_state: present
service_manage_networks: true

container_service_default_networks:
  - app_net

container_service_root_path: "/opt"

compose_pull: missing # missing | always | never
compose_recreate: auto # auto | always | never
compose_remove_orphans: true
compose_build: true

container_internal_port: 8000
service_common:
  env_files:
    - "./app/.env"
  volumes:
    - ".:/app"
  command: "uvicorn app.main:app --host 0.0.0.0 --port 8000"

container_service_healthcheck:
  enabled: true
  url: "" # if empty, http healthcheck skipped
  status_code: 200
  retries: 10
  delay: 3
