---
service_state: present
service_manage_networks: true

container_service_default_networks:
  - app_net

container_service_root_path: "/opt"

compose_pull: missing # missing | always | never
compose_recreate: auto # auto | always | never
compose_remove_orphans: true
compose_build: true

container_internal_port: 8000
service_common:
  env_files:
    - "./app/env/config.env"
  volumes:
    - "./app:/app"

container_service_healthcheck:
  enabled: true
  url: "" # if empty, http healthcheck skipped
  status_code: 200
  retries: 10
  delay: 3

container_service_local_config_root: "{{ lookup('env','HOME') }}/.application"
container_service_local_config_dir: "fastapi"
container_service_remote_env_dir: "app/env"
#
# Dockerfile templating
container_service_manage_dockerfile: true
container_service_base_image: "python:3.11.1-slim"
container_service_workdir: "/"
container_service_uvicorn_app: "app:app"
