- name: Ensure service directory exists
  ansible.builtin.file:
    path: "{{ container_service_app_path }}"
    state: directory
    mode: "0755"

- name: Clone/update git repository
  ansible.builtin.git:
    repo: "{{ app.repo }}"
    dest: "{{ container_service_app_path }}"
    version: "{{ app.version }}"
    update: true
    force: false
  register: repo_result
  when: service_state == 'present'
