---
- name: Deploy multiple containers for this service (stable/update)
  ansible.builtin.include_tasks: deploy_one.yml
  loop: "{{ container_services }}"
  loop_control:
    loop_var: svc
    label: "{{ service_name }}-{{ svc.name_suffix }}"
  when:
    - container_services is defined
    - container_services | length > 0

- name: Fail if container_services not provided
  ansible.builtin.fail:
    msg: "container_service requires container_services (stable/update) for this service group."
  when: container_services is not defined or container_services | length == 0
