fastapi_repo_url: "git@github.com:kfcodes/fastapi.git"

fastapi_tags:
  stable: "v0.02"
  update: "rc0.1.4.3"

ports:
  stable: 8001
  update: 8002

# Common runtime settings (defined once)
service_common:
  env_files:
    - "./app/.env"
  volumes:
    - ".:/app"
  command: "uvicorn app.main:app --host 0.0.0.0 --port 8000"

# Two containers defined concisely
container_services:
  - name_suffix: "stable"
    version: "{{ fastapi_tags.stable }}"
    host_port: "{{ ports.stable }}"

  - name_suffix: "update"
    version: "{{ fastapi_tags.update }}"
    host_port: "{{ ports.update }}"
