service_name: "labelapi"
fastapi_repo_url: "git@github.com:kfcodes/fastapi.git"

fastapi_tags:
  stable: "v0.02"
  update: "rc0.1.4.3"

ports:
  stable: 8001
  update: 8002

container_services:
  - name_suffix: "stable"
    version: "{{ fastapi_tags.stable }}"
    host_port: "{{ ports.stable }}"

  - name_suffix: "update"
    version: "{{ fastapi_tags.update }}"
    host_port: "{{ ports.update }}"
