---
allow_reboot: true
install_docker: true

managed_users:
  - name: "{{ deploy_user }}"
    create_home: true
    groups: ["docker", "sudo"]
    passwordless_sudo: true
    authorized_keys:
      - "{{ lookup('file', ssh_key_dir + '/' + deploy_user + '.pub') }}"
    exclusive_keys: true

host_system_packages:
  - htop
  - tmux
  - rsync
  - ripgrep
  - ranger
  - curl
  - git
  - python3
  - python3-pip
  - ttf-mscorefonts-installer
